<p>Studio's Attributes
  <%= @studio.name %>
  <%= @studio.location %>
  <% @movies.each do |movie| %>
    <%= movie.title %>
    <% movie.unique_actors_by_age_and_status.each do |actor|%>
      <p class="actor"><%= actor.name %></p>
    <% end %>
  <% end %>
</p>
